@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
.tabule{
    background-color:  rgb(5, 49, 5); 
    height: 200px;
    width: 400px;   
    border: 10px solid;
    border-color:  rgb(145, 121, 18);
    padding: 30px;
    font-family: "Caveat";
    font-size: 15px; 
    color: white;
}



#bart{
  width: 150px;
  height: 200px;
  position: relative;
  left: 150px;  
  bottom: 100px;
}   