
.yellow{
    display: inline-block;
    background-color:yellow;
    width: 200px;
    height: 200px;
    margin: 10px;
}
.red{
    background-color:red;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px;
}
.green{
    display: inline-block;
    background-color:lime;
    width: 200px;
    height: 200px;
    margin: 10px;
    
}
.blue{
    background-color:blue;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px;
}
.logo{
    margin-left: 300px; 
    margin-top: 200px;
  
}
.logo2{
    margin-left: 300px; 
 
}
