.red{
    background-color: red;
    color: white;
}
.blue{
    background-color: blue;
    color: white;
    margin:10px 20px;
    padding: 20px;
    border: 5px solid salmon;
    
}
.green{
    background-color: green;
    color: white;
}
.spagety{
    background-color: yellow;
}
.kecup{
    background-color: tomato;
}