.black{
    background-color: black;
    margin-top: 300px;
    width: 200px;
    height: 300px;
    display: inline-block;

}
.red{
    display: inline-block;
    background-color:yellow;
    width: 200px;
    height: 300px;
}
.yellow{
    background-color:red;
    
    width: 200px;
    height: 300px;
    display: inline-block;
}
.vlajka{
    margin-left: 300px; 
    font-size: 0%;
}
