:root {
    --main-clr: #0099f7;
    --accent-clr: #e9724c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: "Poppins";
}

*::before,
*::after {
    box-sizing: border-box;
}

header {
    min-height: 100vh;
}

/* TODO: zresponzivnit */
nav {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80%;
    margin-inline: 10%;
    margin-top: 20px;
}

.logo {
    margin-right: auto;
}

nav ul {
    display: flex;
    gap: 2em;
    background: linear-gradient(90deg, var(--main-clr), var(--accent-clr));
    background-clip: text;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--main-clr);
    color: transparent;
}

/* TODO: zresponzivnit */

.main-img {
    height: 35rem;
    position: absolute;
    right: 3.5em;
    bottom: 3.5em;
    z-index: -1;
}
.burger span {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    z-index: 2;
}

/* TODO: zresponzivnit */

.nadpisy {
    position: absolute;
    top: 27%;
    left: 10%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3rem;
}

.nadpisy h1 span {
    font-family: "Noto serif";
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--main-clr);
    color: var(--accent-clr);
}
.nadpisy h2 span {
    color: var(--main-clr);
}

.nadpisy > div {
    display: flex;
    gap: 2rem;
}

/* TODO: zresponzivnit */

header h1 {
    /*minimalni optimalni maximalni velikost */
    font-size: clamp(1.75rem, 4vw + 1rem, 5rem);
    font-family: "Noto serif";
    font-weight: bold;
    line-height: 1.2;
}

/* TODO: zresponzivnit */

header h2 {
    font-size: clamp(1rem, 1vw + 1rem, 1.75rem);
    font-family: "Poppins";
    font-weight: 600;
    color: #333;
}

.tlacitko {
    font-size: clamp(0.5rem, 1vw + 0.5rem, 1.25rem);
    background-color: white;
    border: 1px solid transparent;
    padding: 0.5em 1.75em;
    border-radius: 5000px;
}

.hlavni-tlacitko {
    background-color: var(--main-clr);

    color: white;
}

.druhe-tlacitko {
    border: 3px solid var(--main-clr);
    color: var(--main-clr);
    background-clip: text;
}

.logo {
    height: 100px;
}

/* TODO: zresponzivnit */

section {
    margin-top: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section h2 {
    font-size: 4rem;
    font-family: "Poppins";
    font-weight: bold;
    color: #000;
    margin-bottom: 2em;
}

/* TODO: zresponzivnit */

section#nabidka h2 {
    color: #000;
    text-shadow: 1.5em -1em 1px var(--main-clr),
        -1.5em 1em 1px var(--accent-clr);
}

/* TODO: zresponzivnit */

.karty {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10em;
}

.karta {
    height: 500px;
    aspect-ratio: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    gap: 1.25em;
    position: relative;
    background-color: white;
}

.karta::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: linear-gradient(
        100deg,
        rgba(0, 153, 247, 1) 0%,
        rgba(77, 140, 191, 1) 8%,
        rgba(184, 122, 112, 1) 86%,
        rgba(233, 114, 76, 1) 100%
    );
    z-index: -1;
    margin: -0.5em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card:hover .card-container {
    border-radius: 10px;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
}

.karta img {
    object-fit: cover;
    width: 75%;
}

.karta h3 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--accent-clr);
    text-transform: uppercase;
}

.karta p {
    font-weight: 600;
}

.karta .tlacitko {
    background-color: var(--main-clr);
    color: white;
    font-size: 1.15em;
    margin-bottom: 1em;
    padding: 0.5em 1.75em;
}

section#recenze h2 {
    border: 10px dashed var(--main-clr);
    padding-inline: 0.5em;
}

/* TODO: zresponzivnit */

.karta-recenze {
    width: 500px;
    border-radius: 12px;
    padding: 3.5em 3.5em;

    background: linear-gradient(#e39c84, var(--accent-clr));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.karta-recenze img {
    height: 5em;
    border-radius: 50%;
}

.karta-recenze h3 {
    color: black;
    font-weight: 600;
    font-size: 1.35rem;
    text-align: center;
}

.karta-recenze h4 {
    color: var(--accent-clr);
    color: #333;
    font-size: 1.05rem;
    text-align: center;
}

.karta-recenze span {
    font-size: 0.5rem;
}

.karta-recenze p {
    color: #333;
    font-size: 1rem;
    position: relative;
}

.karta-recenze p::before {
    content: "“";
    position: absolute;
    top: -0.5em;
    left: -0.5em;
    font-size: 2.5em;
    color: black;
    font-family: "Noto serif";
}
.karta-recenze p::after {
    content: "”";
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    font-size: 2.5em;
    color: black;
    font-family: "Noto serif";
}

.karta-recenze .carousel span {
    display: inline-block;
    height: 1.1em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid black;
    margin-inline: 0.3em;
}

.karta-recenze .carousel span:nth-child(1) {
    background-color: black;
}

section#kontakty h2 {
    text-decoration: line-through solid black;
}

section#kontakty p {
    font-style: italic;
}

section#kontakty {
    margin-bottom: 100px;
}
.ukaz{
    display: flex;
}
@media (width < 640px) {
    .nadpisy {
        position: static;
        text-align: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 5rem;
    }
    .main-img {
        position: static;
        height: 12rem;
        margin: 0 auto;
        display: block;
        margin-top: 5rem;
    }
    .karty {
        flex-direction: column;
    }
    .karta {
        height: 500px;
        aspect-ratio: 2/4;
        text-align: center;
    }
    .karta-recenze {
        width: 300px;
    }
    .burger {
        display: flex;
    }
    nav {
        position: relative;
    }
    nav ul {
        flex-direction: column;
        gap: 0.3rem;
        position: absolute;
        translate: 30% 0;
        right: 0;
        bottom: -100%;
        text-align: center;
        display: none;
    }
    nav a {
        font-size: 1rem;
        color: #000;
    }
}
