<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Fill in this form</h1>
    <form method="post">
        <label for="name">Name:</label><br>
        <input id="name" type="text" name="name" autocomplete="off" placeholder="Name" autofocus><br>
        <label for="class">Class:</label><br>
        <input id="class" type="text" name="class"><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message"></textarea><br><br>
        <button>Submit form</button>
    </form >
</body>
</html>