@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@100;400&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body {
    margin: 0;
    padding: 0;
    
}
header{
    height: 100vh;
    width: 100vw;
    background-image: url("/css/pizza/obrázky/pizza\ background.jpg");
    background-size: cover;
    position: relative;
}
.logo{
    width: 100px;
    height: auto;
    position: absolute;
    left: 8%;
}

.nav {
    font-size: 1.1em;
    text-align: center;
    width: 60%;
    position: absolute;
    left: 20%;
    top: 2%;
}

.nav li {
    display: inline-block;  
    padding: 0 5%;
    font-weight: bold;
}

.nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.main-header {
    font-size: 4.5em;
    color: white;
    position: absolute;
    text-align: center;
    left: 8%;
    bottom: 25%;
    text-shadow: 0 0 10px black;
}

.subheading{
    color: white;
    position: absolute;
    bottom: 8%;
    left: 8%;
}
.subheading a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 10px;
    margin-right: 7px;
}
section{
    margin: 10vh 25vw;
}
section p{
    text-align: justify;
}
.mapa{
    display: flex;
    justify-content: center;
}