/* Exo 2 - Thin 100 */
@font-face {
    font-display: swap;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 100;
    src: url('../../fonts/exo-2/exo-2-100.woff2') format('woff2');
}

/* Exo 2 - Light 300 */
@font-face {
    font-display: swap;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/exo-2/exo-2-300.woff2') format('woff2');
}

/* Exo 2 - Regular 400 */
@font-face {
    font-display: swap;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/exo-2/exo-2-400.woff2') format('woff2');
}

/* Exo 2 - Medium 500 */
@font-face {
    font-display: swap;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/exo-2/exo-2-500.woff2') format('woff2');
}

/* Exo 2 - SemiBold 600 */
@font-face {
    font-display: swap;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/exo-2/exo-2-600.woff2') format('woff2');
}

/* Exo 2 - Bold 700 */
@font-face {
    font-display: swap;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/exo-2/exo-2-700.woff2') format('woff2');
}

/*  Exo 2 - Black 900 */
@font-face {
    font-display: swap;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 900;
    src: url('../../fonts/exo-2/exo-2-900.woff2') format('woff2');
}
