.black{
  height: 350px;
  background-color: black;
  width: 150px; 
   
}
.red{
    border-radius: 50%;
    display: inline-block;
    background-color:red;
    width: 100px;
    height: 100px;
    margin-left:25px ;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 2px;
}
.yellow{
    background-color:yellow;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-left:25px ;
    margin-right: 25px;
    margin-bottom: 2px;
}
.green{
    background-color:green;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-left:25px ;
    margin-right: 25px;
    margin-bottom: 2px;
}