@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

body{
   background-color:#0078D7; 
}
.zarovnání{
text-align: center;
position: relative;
}
.nadpis{
    font-family: 'Roboto', sans-serif;
}
.text1{
    font-family: 'Open Sans', sans-serif;
     }
    .mesic{
        height: 200px;
        position: relative;
       text-align: left; 
        display: inline;
        top: -150px;
    }
   